* {
    font-family: 'Dangrek', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 10px;
 }
  
header {
    display: flex;
    background-color: #999;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-right: 25px;
}
  
a:hover{
      color: black;
}

h1 {
    color: white;
    padding-top: 80px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dangrek', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}

h2 {
    padding: 80px;
    text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
}

.gente {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 40px 10px;
  justify-content: space-between;
  text-align: center;
 }

.persona {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
  width: 17%; 
  color: white
}

h2 {
    color: white;
}
 
.nosotros {
  margin: 20px 40px;
  border-radius: 30px;
  width: 90%;
}

  .imagen {
    border-radius: 20px;
}